
<!DOCTYPE html>
<html>
<head>
    <title>Author Details</title>
</head>
<body>
    <h1>Author Details</h1>
    <ul>
        <li>ID: {{ author.id }}</li>
        <li>Username: {{ author.username }}</li>
        <li><img src="{{ author.picture }}" alt="Image"></li>
        <li>Email: {{ author.email }}</li>
        <li>Number of Books: {{ author.nb_books }}</li>
    </ul>
</body>
</html>
